<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Progetto</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/app.css">




</head>

<body>
    <div id="app">
        <!-- HEADER -->
        <header class="container">

            <nav>
                <div class="img-wrapper">
                    <img src="img/logo-dark.png" alt="logo">
                </div>

                <ul class="link_TopNav">
                    <li v-for="textLink in navbarLinks" @click="clickMenu(textLink)">
                        <a :href="textLink.link" v-if="textLink.link">{{textLink.text}}</a>

                        <span>


                            <i class="fas " :class="textLink.icon"></i>

                           

                            <ul class="downMenu">
                                <li v-if="textLink.pullDownMenu" v-for="subtitle in textLink.elementDropdown">
                                    <a :href="subtitle.link">{{subtitle.text}}</a>
                                </li>
                            </ul>
                        
                           


                        </span>

                    </li>


                </ul>

                <!--icone   -->
                <ul >

                    <li>
                        <div class="d-flex" v-for="button in navbarIcons">
                           

                            <form action="#">
                                <label :data-state="state" for="search">
                                    <input type="text" placeholder="Search" 
                                    @click="state = 'open'"
                                    @blur="state='close'" />
                                    <i class="my_search_icon fas " :class="button.icon[0]" @click="" aria-hidden="true"></i>

                                </label>

                                
                            </form>

                            <div class="iconsNavbar">
                                <i class="fab " :class="button.icon[1]"></i>
                                <i class="fab " :class="button.icon[2]"></i>
                                <i class="fas " :class="button.icon[3]"></i>
                            </div>

                        </div>


                    </li>
                </ul>

            </nav>
        </header>

        <!-- MAIN -->
        <main>

            <!-- position fixed -->
            <div class="setting_fixed_wrap">
                <i class="fas fa-cog"></i>
            </div>
            <!-- section 1 con background -->
            <section class="back_color_light">
                <div class="row container">
                    <div class="col-6">
                        <button><a href="#">Development</a></button>
                        <h1>A Complete</h1>
                        <h1>Developer Toolset</h1>
                        <p class="common-parag">
                            Launch your campaign and benefit from our expertise on designing and managing conversion
                            centered bootrstap4 html page.
                        </p>

                        <button class="dark_btn"><a href="#">Get Started</a></button>
                        <button class="light_btn"><a href="#">Documentation</a></button>
                        <h5>Current Version: v2.6.0</h5>

                    </div>
                    <div class="col-6">
                        <div class="padd-left">

                            <img src="img/about.png" alt="person at work">
                        </div>
                    </div>
                </div>

                <hr>
                <div class="wrapBrand">
                    <div>
                        <img src="img/amazon.svg" alt="amazon">

                    </div>
                    <div>
                        <img src="img/google.svg" alt="google">

                    </div>
                    <div>
                        <img src="img/lenovo.svg" alt="lenovo">

                    </div>
                    <div>

                        <img src="img/paypal.svg" alt="paypal">
                    </div>
                    <div>

                        <img src="img/shopify.svg" alt="shopify">
                    </div>
                    <div>

                        <img src="img/spotify.svg" alt="spotify">
                    </div>
                </div>

            </section>

            <!-- section 2 -->

            <section class="features container">
                <h2>Key Features</h2>
                <p class="common-parag">
                    Start working with <span class="color-blue">Landrick</span> that can provide everything you need to
                    generate awareness, drive traffic, connect.
                </p>
                <div class="row">
                    <div class="col-3">
                        <div class="backg_Modules">

                            <i class="fas fa-layer-group backgIcon"></i>

                            <i class="fas fa-layer-group"></i>
                            <h3>Modular</h3>
                            <p >Composed in a pseudo-Latin language which more or less corresponds.</p>

                            <!-- effetto hover -->


                            <a href="#">Read More
                                <i class="fas fa-chevron-right chevronBlue"></i>
                                <i class="fas fa-arrow-right arrowhite"></i>

                            </a>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="backg_Modules">
                            <i class="fas fa-border-all backgIcon"></i>

                            <i class="fas fa-border-all"></i>
                            <h3>Responsive</h3>
                            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
                            <!-- effetto hover -->
                            <a href="#">Read More
                                <i class="fas fa-chevron-right chevronBlue"></i>
                                <i class="fas fa-arrow-right arrowhite"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="backg_Modules">
                            <i class="fab fa-bootstrap backgIcon"></i>

                            <i class="fab fa-bootstrap"></i>
                            <h3>Customizable</h3>
                            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
                            <!-- effetto hover -->
                            <a href="#">Read More
                                <i class="fas fa-chevron-right chevronBlue"></i>
                                <i class="fas fa-arrow-right arrowhite"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="backg_Modules">
                            <i class="fas fa-arrows-alt backgIcon"></i>

                            <i class="fas fa-arrows-alt"></i>
                            <h3>Scalable</h3>
                            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
                            <!-- effetto hover -->
                            <a href="#">Read More
                                <i class="fas fa-chevron-right chevronBlue"></i>
                                <i class="fas fa-arrow-right arrowhite"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- sezione 3 -->
            <section class="container">
                <div class="wrptext">
                    <h5>Quickstart</h5>
                    <h2>Awesome isn't it? Let's dive in!</h2>
                    <p class="common-parag">
                        Start working with <span class="color-blue">Landrick</span> that can provide everything you need
                        to generate awareness, drive
                        traffic, connect.
                    </p>
                </div>

                <div class="wrapNpm">
                    <ul>
                        <li :class="text.active === true ? 'background' : 'none'" v-for=" text in listLandrick"
                            @click.prevent="clickText(text)">
                            {{text.text}}


                        </li>

                    </ul>

                    <ul class="comandnpm">
                        <li><span class="color-green">$</span> npm install <span class="color-green">-g</span> claps.js
                        </li>
                    </ul>

                </div>

                <div class="checkCircle">
                    <div>

                        <span class="common_span"><i class="far fa-check-circle specialCircle"></i>Organize your data</span>
                    </div>
                    <div>

                        <span><i class="far fa-check-circle specialCircle"></i>Work with any team</span>
                    </div>

                </div>
            </section>

            <!-- section 4 -->
            <section class="toolsWrap container">

                <div class="row">
                    <div class="col-7">

                        <h2>Build tools and <br>
                            extensive documention</h2>
                        <p class="common-parag">
                            You can combine all the Landrick templates into a single one, you can take a component from
                            the Application theme and use it in the Website.
                        </p>
                        <div class="checkwrapp">
                            <div><i class="far fa-check-circle"></i>Digital Marketing Solutions for Tomorrow</div>
                            <div><i class="far fa-check-circle"></i>Our Talented & Experienced Marketing Agency</div>
                            <div><i class="far fa-check-circle"></i>Create your own skin to match your brand</div>

                        </div>
                        <button class="dark_btn">
                            <a href="#">Read More</a>
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>


                    <div class="col-4 col-offset-1">
                        <div>
                            <img src="img/1.png" alt="grafico">
                        </div>
                    </div>


                </div>
            </section>

            <!-- sezione 5 -->
            <section class="wrapperBuy container">
                <h2>Our rates for developer from landrick team</h2>
                <p class="text-Land common-parag">
                    Start working with <span class="color-blue">Landrick</span> that can provide everything you need to
                    generate awareness,
                    drive traffic, connect.
                </p>

                <div class="wrap-options">
                    <div class="col-4">
                        <button class="new_btn"><a class="text-font-size" href="#">Basic</a></button>
                        <h1>
                            $9.00
                        </h1>
                        <p>Per Month</p>
                        <p>All the basics for businesses that are just getting started.</p>
                        <div class="line"></div>
                        <div class="full-menu">

                            <p><i class="far fa-check-circle"></i>Full Access</p>
                            <p><i class="far fa-check-circle"></i>Enhanced Security</p>
                            <p><i class="far fa-check-circle"></i>Source Files</p>
                            <p><i class="far fa-check-circle"></i>1 Domain Free</p>
                            <p><i class="far fa-check-circle"></i>Enhanced Security</p>
                        </div>

                        <button class="dark_btn large_btn"><a href="#">Buy now</a></button>
                        <p>*No credit card required</p>

                    </div>

                    <div class="col-4 option_Busin bestseller">
                        <!-- class="badge" -->

                        <button class="new_btn"><a class="text-font-size" href="#">Business</a></button>
                        <h1>
                            $39.00
                        </h1>
                        <p>Per Month</p>
                        <p>Better for growing businesses that want more customers.</p>
                        <div class="line"></div>

                        <div class="full-menu">

                            <p><i class="far fa-check-circle"></i>Full Access</p>
                            <p><i class="far fa-check-circle"></i>Enhanced Security</p>
                            <p><i class="far fa-check-circle"></i>Source Files</p>
                            <p><i class="far fa-check-circle"></i>1 Domain Free</p>
                            <p><i class="far fa-check-circle"></i>Enhanced Security</p>
                        </div>

                        <button class="dark_btn large_btn"><a href="#">Buy now</a></button>
                        <p>*No credit card required</p>
                    </div>
                    <div class="col-4">
                        <button class="new_btn"><a class="text-font-size" href="#">Enterprise</a></button>
                        <h1>
                            $79.00
                        </h1>
                        <p>Per Month</p>
                        <p>Advanced features for pros who need more customization.</p>
                        <div class="line"></div>

                        <div class="full-menu">
                            <p><i class="far fa-check-circle"></i>Full Access</p>
                            <p><i class="far fa-check-circle"></i>Enhanced Security</p>
                            <p><i class="far fa-check-circle"></i>Source Files</p>
                            <p><i class="far fa-check-circle"></i>1 Domain Free</p>
                            <p><i class="far fa-check-circle"></i>Enhanced Security</p>

                        </div>

                        <button class="dark_btn large_btn"><a href="#">Buy now</a></button>
                        <p>*No credit card required</p>

                    </div>
                </div>
            </section>

            <!-- sezione 6  -->
            <section class="secSubscribe container">
                <div>
                    <h2>Want to be among the first to find out?</h2>
                    <p class="common-parag">
                        Start working with <span class="color-blue">Landrick</span> that can provide everything you need
                        to generate
                        awareness, drive traffic, connect.
                    </p>

                    <div class="emailWrapper">
                        <input @key.enter="getpopup" type="text" placeholder="Email Address">
                        <button class="new_btn_vDark"><a href="#">Get Started</a></button>
                    </div>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        <footer>
            <div class="row container">
                <div class="col-4">
                    <div class="img-logo">
                        <img src="img/logo-light.png" alt="logo">
                    </div>
                    <div>
                        <p>
                            Start working with Landrick that can provide everything you need to generate awareness,
                            drive
                            traffic, connect.
                        </p>

                        <div class="social_icon">
                            <i class="fab fa-facebook-f my_sc"></i>
                            <i class="fab fa-instagram my_sc"></i>
                            <i class="fab fa-twitter  my_sc"></i>
                            <i class="fab fa-linkedin-in my_sc"></i>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-2 offset-1">
                            <h4>Company</h4>

                            <ul>
                                <li v-for="link in footerLink.companyData">
                                    <i class="fas " :class="link.icon"></i>
                                    <a href="#" v-if="link.text">{{link.text}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3 offset-1">
                            <h4>Useful Links</h4>


                            <ul>
                                <li v-for="link in footerLink.footerUsefulLink">
                                    <i class="fas " :class="link.icon"></i>

                                    <a href="#" v-if="link.text">{{link.text}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 offset-1">

                            <h4>Newsletter</h4>
                            <p>Sign up and receive the latest tips via email.</p>
                            <h6>Write your email <span class="red-asterisk">*</span></h6>
                            <div class="email_input">
                                <i class="far fa-envelope my_msg_icon"></i>
                                <input class="dark_input" type="text" placeholder="Your email: ">
                            </div>

                            <div>

                                <button class="btn_subscribe medium_btn"><a class="text_sub"
                                        href="#">Subscribe</a></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="border_bottom">
            </div>


            <div class="row wrapp_arrow">
                <div class="container paym_card">
                    <div>
                        <p><span>&#169;</span> 2020 Landrick. Design with <span class="heart">&#10084;</span> by
                            Shreethemes.</p>
                    </div>
                    <div>
                        <img src="img/american-ex.png" alt="american-ex">
                        <img src="img/discover.png" alt="discover">
                        <img src="img/master-card.png" alt="master-card">
                        <img src="img/paypal.png" alt="paypal">
                        <img src="img/visa.png" alt="visa">


                    </div>


                </div>

                <div>
                    <a class="my_arrow" href="#">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </div>

            </div>



        </footer>
    </div>
    <script src="scripts/myScript.js"></script>
</body>

</html>