button {
    background-color: $backg_blue_light;
    border-radius: $border_radius;
    border: 1px solid $border_blue;
    padding: 0 ($spacing - 16px);
    margin: ($spacing - 10px) 0;
    a {
        color: $text_blue_secondary;
        font-weight: bold;
        font-size: $font_size - 5px;
        line-height: 22px;

    }
}

.dark_btn {
    background-color: $backg_blue_dark;
    padding: ($spacing - 7px) ($spacing + 4);
    margin: ($spacing - 10px) ($spacing - 10px) 0 0;

    a {
        color: $text_color_white;
        font-size: $font-size;
    }
}
.light_btn {
    background-color: $backg_white;
    padding: ($spacing - 7px) ($spacing + 4);
    a {
        color: $backg_blue_dark;
        font-size: $font-size;
    }
}
.new_btn {
    background-color: $backg_blue_light;
    border-radius: $border_radius_secondary;
    border:1px solid $border_white_secondary;
    padding:  $padding_new_btn;
}
.large_btn {
    width:$large_btn;
}
.new_btn_vDark {
    background-color: $backg_blue_dark;
    border-radius: $border_radius_secondary;
    border:1px solid $border_blue;
    padding:  $padding_new_btnvDark;
    position: absolute;
    top: -10px;
    right: 0;
    a {
        color: $text_color_white;
        font-size: $font_size;
    }
}
.dark_input {
    background-color: $backg_grey_secondary;
    padding: ($spacing - 7px) ($spacing + 4);
    margin: ($spacing - 10px) ($spacing - 10px) 0 0;
    border-radius: $border_radius;
    border: 0px solid;
    outline:none;
    text-indent: 10px;
}
.btn_subscribe {
    background-color: $backg_grey_secondary;
    padding: ($spacing - 7px) ($spacing + 4);
    margin: ($spacing - 10px) ($spacing - 10px) 0 0;
    border-radius: $border_radius;
    border: 0px solid;

    text-indent: 10px;

    box-shadow: -6px 7px 17px -3px #243466;
    border: 2px solid #243466;
}
.medium_btn {
    width: 206px;
}

.setting_fixed_wrap {
    position: fixed;
    top: $spacing * 5;
    box-shadow: 0 0 10px #ccc;
    background-color: $background;
    padding: $spacing;
    border-top-right-radius: $border_radius_secondary;
    border-bottom-right-radius: $border_radius_secondary;

    i {
        color: $text_blue;
        font-size: $font_size + 5px;
        
    }
}