footer {
    background-color: $backg_grey_secondary;
    padding-bottom: $spacing *3;
    .row {
        display: flex;
        padding-top: $spacing * 2;
        .col-4 {
            width: $col-4;
            .img-logo {
                display: inline-block;
                img {
                    max-width: $img_max_width;
                    width: $img_width;
                }
            }
        }

        .col-8 {
            width: $col-8;
            .row {
                display: flex;
                justify-content: center;
                padding-top: 0;

                .col-3 {
                    width: $col-3;
                    i {
                        color: $text_grey;
                        font-size: $font_size - 5px;
                    }
                }
                .col-4 {
                    width: $col-4;
                }
            }
        }
    }
}