nav {

    padding: $spacing 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;

    .img-wrapper {
        img {
            max-width: $img_max_width;
            width: $img_width;
    
        }
    }

    ul.link_TopNav {
        display: flex;
        align-items: center;
        

        li {
            position: relative;
            font-size: $font_size;
            padding: 0 ($spacing + 13px);
            &:hover  {
                
                a, i {
                    color:$text_blue_secondary;
                }
            }
                
            a {
                color:$text_grey_dark;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                
                
            }
          
            span {
              
                padding-left: $spacing - 16px;
                i {
                    font-size: $font_size - 3px;
                    
                    &:hover {
                        color:$text_blue_secondary;
                    }
                }
                
                
            }
            
            
        }
        ul.downMenu {
            position: absolute;
            top: 24px;
            left: 1px;
            border: 1px solid $border_blue_light;
            background-color: $backg_blue_light;

            li {
                padding: 0 ($spacing - 15px);
                border: 1px solid $border_blue_light;

              
            }
        }
    }
    ul.iconsNavbar {
       
        li {
            
            div {
                i:not(:first-of-type) {
                    &:hover {
                        background-color:$backg_blue_dark;
                        color: $text_color_white;
                    }
                    background: $backg_blue_light;
                    padding: $spacing / 2;
                    color:$text_blue_secondary;
                    border-radius: $border_radius;
                    cursor: pointer;
                    box-shadow: 0 0 10px $border_blue;

                   
                   margin-right: $spacing - 6px;
                }
                i:first-of-type {
                    cursor: pointer;
                    color: $text_grey;
                    margin-right: $spacing / 3;
                    
                }
            }
        }
    }
}
