


label{
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 5px 12px;
    transition: all 1s ease;
    border-radius: 0;
    box-shadow: 1px 1px 5px rgba(211, 199, 199, 0.747);
    //quando l'input si estende
    input{
      transition: width 1s ease, opacity 0.5s ease 0.5s;
      text-indent: 40px;
      opacity: 1;
      width: 180px;
      height: 25px;
      border: 0;
      outline: none;
      
    }
    //quando l'input si chiude 
    &[data-state="close"]{
      border-radius: 30px;
      padding: 5px 5px;
       transition: all 1s ease;
      &::after{
        width: 0%;
        transition: all 0.3s ease;
      }
      i{
        pointer-events: none;
      }
      input{
        

        width: 28px;
        height: 25px;
        opacity:0;
        cursor: pointer;
        transition: opacity 0.5s ease, width 1s ease;
      } 
    }
}


form {
    position: relative;
    margin-right: $spacing / 2;
}
.my_search_icon {
    cursor: pointer;
    color: $text_grey;
    position: absolute;
    top: 11px;
    left: 10px;
    
  
    
}