//text color
$text_color_white: #ffffff;
$text_white_secondary: #f8f9fc;
$text_grey: #adb5bd;
$text_grey_secondary: #8492a6;
$text_green: #2eca8b;
$text_blue:#007bff;
$text_blue_secondary: #2f55d4;
$text_grey_dark:#3c4858;
$text_grey_dark_secondary:#161c2d;
$text_red: #e43f52;
$text_black:#000000;
$text_blue_sub: #2e50c4;
//contrast
$hover_contrast_background: #2f55d4;
$hover_contrast_text: #fff;
$hr_color: #3a4d5f;
$btn_box_shadow:#7976a7;

//border color
$border_white: #ffffff;
$border_white_secondary: #f8f9fc1a;
$border_grey: #e9ecef;
$border_grey_secondary: #adb5bd;
$border_grey_dark: #3c4858;
$border_orange: #d55b0e;
$border_blue_light: #2f55d41a;
$border_blue: #2f55d4;

//fill color
$background: #fff;

//background colors
$backg_npm: #4f5a69;
$backg_white:#fff;
$backg_white_secondary:#f8f9fc;
$backg_white_ter: #f8f9fc1a;
$backg_green: #6dc77a;
$backg_celestial: #32c2ec;
$backg_green_secondary: #2eca8b;
$backg_green_ter: #00c9a7;
$back_green_dark: #0f7173;
$backg_orange: #f7961c;
$backg_orange_secondary: #f17425;
$backg_red: #ff5b69;
$backg_red_secondary: #e43f52;
$backg_sea_water: #17a2b8;
$backg_blue_sky: #766df4;
$backg_blue_light:#2f55d41a;
$backg_blue_dark:#2f55d4;
$backg_blue_dark_plus:#0b1e5a;

$backg_violet: #7952b3;
$backg_grey_primary: #3c4858;
$backg_grey_secondary: #27314f;
$backg_grey_ter: #202942;
$back_footer: #202942;

$border_btn: #152b6e1a;
$box_shadow_btn: #243466;
$spacing: 20px;

$img_max_width: 120px;
$img_width:100%;
$graphic_width: 400px;

$brand_max_width: 85px;


$font_size: 14px;
$font_size_large: 35px;
$border_radius: 10px;

$font-family: 'Open Sans', sans-serif;

$col-6: 50%;

$col-4: 33.333333%;
$col-8: 66.666667%;
$col-3: 25%;
$col-2:16.666667%;
$offset-1: 8.333333%;
$col-5:41.666667%;
$width_60: 60%;
$width_38: 38%;
$col-7: 58.333333%;

$border_radius_secondary: 21px;
$padding_new_btn: 7px 26px;
$padding_new_btnvDark: 9px 26px;
$line_width: 270px;
$large_btn: 268px;
$payment_card_width: 50px;
$width_55: 55%;




























